table {
    width: 70%; 
    border-collapse: collapse; 
    margin: 20px auto; 
    font-size: 16px; 
    text-align: left; 
}

th, td {
    border: 2px solid #0a0909; 
    padding: 10px 40px; 
    text-align: center;
}

th {
    background-color: #4CAF50; 
    color: white; 
    font-weight: bold; 
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #f1f1f1; 
}

td {
    color: #333; 
    text-align: center;
}

caption {
    margin-bottom: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}

.brand-logo {
    background-color: #004080;
    background-image: url('/cows&bulls.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.instructions {
    text-align: center;
    background-color: #a5b3a9;
    border: 2px solid #030404;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: fit-content;
}

.game-container {
    text-align: center;
    margin-top: 300px;
    width: 100%; 
    display: flex;
    justify-content: center; 
}
.back-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }