.game-container {
    text-align: center;
    margin-top: 50px;
    overflow: hidden;  
    height: calc(100vh - 100px); 
   
}
.brand-logo {
  background-color: #004080;
    background-image: url('/cows&bulls.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}
  
  .input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(3, 54, 3);
  }

  div button {
    margin-right: 10px; 
  }
  
  button:last-child {
    margin-right: 0; 
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
  }
  .guess-history {
    list-style-type: none; 
    padding: 0; 
    
  }
  
  .guess-history li {
    margin: 5px 0; 
  }

  .instructions {
    text-align: center;
    background-color: #a5b3a9; 
    border: 2px solid #030404; 
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    width:fit-content;
    overflow-y:auto;
    max-height: 400px;
  }
  
  .instructions h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .instructions p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .instructions button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .instructions button:hover {
    background-color: #45a049; 
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

    .scrollable-content {
    overflow-y: auto;
    height: calc(100vh - 100px);  
    padding: 20px;
    width: 100%;
  }
  
  
 






  