<body>
    <div class="brand-logo"></div>
  <div class="game-container">
   
    <div *ngIf="showInstructions" class="instructions" >
      <div class="input-container">
        <label for="guess">Enter your guess (4-digit number):</label>
        <input id="guess" [(ngModel)]="guess" maxlength="4" />
        <button (click)="onSubmit()">Submit Guess</button>
      </div>
  
      <div *ngIf="guessHistory.length > 0">
        <h3>Guess History:</h3>
        <ul class="guess-history">
          <li *ngFor="let guess of guessHistory">
            Guess: {{ guess.number }} - Result: {{ guess.result }}
          </li>
        </ul>
        </div>
  
      <div *ngIf="message">
        <p>{{ message }}</p>
      </div>

      <div>
        <button (click)="newGame()">New Game</button>
        <button (click)="giveUp()">Give Up</button>
        <button (click)="logout()">Logout</button>
        <button (click)="Score()">Score</button>
      </div>
      </div>
   