  
<body>
    <div class="brand-logo"></div>
  <div class="game-container">
   
  
    <div *ngIf="showInstructions" class="instructions" >
      <h1>BULLS AND COWS GAME</h1>
      <h2>Welcome {{ username }}</h2>
      <h3>Discover the Hidden Code!</h3>
      <p>Here computer is the codemaker who generates secret code </p>
      <p>you are the codebreaker who guesses the code</p>
      <p>Guess the secret 4 digits code and Click on Submit Guess Button.</p>
      <p><strong>Bulls</strong> = correct code, correct position.</p>
      <p><strong>Cows</strong> = correct code, wrong position.</p>
      
      <button (click)="startGame()">Got it! Start Playing</button>
    </div>
  
  
    